html,
body {
  background-color: var(--dark);
  color: var(--white);
  font-family:
    Helvetica Neue,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    sans-serif;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 15px;
  min-height: 200vh;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gradient {
  background: rgb(0, 1, 3);
  background: linear-gradient(0deg, rgba(0, 1, 3, 1) 0%, rgba(0, 1, 3, 0) 100%);
  bottom: 0;
  height: 15rem;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 8;
}

:root {
  --dark: #000103;
  --white: #fff;
  --ease: cubic-bezier(0.85, 0, 0.15, 1);
}
