@import 'sizes.scss';

.header {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.headerInner {
  background: rgb(0, 1, 3);
  background: linear-gradient(180deg, rgba(0, 1, 3, 1) 0%, rgba(0, 1, 3, 0) 100%);
  display: flex;
  justify-content: space-between;
  font-size: clamp(1rem, 1.15vw, 3rem);
  transition: all 0.6s var(--ease);
  transition-property: transform, opacity;
  padding: 3vw;
}

.pushHeader {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.6s var(--ease);
  transition-property: transform, opacity;
}

.nav ul {
  display: flex;

  li {
    margin-left: 1rem;
    position: relative;
  }
}

.active::after {
  background-color: var(--white);
  content: '';
  display: block;
  height: 1px;
  margin-top: 5px;
  width: 100%;
}

@media (max-width: $s) {
  .logo span {
    display: none;
  }
}
